* {
    margin:0;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(37, 37, 37);
    font-size: 10px;
}
main-container {
    width:100%;
    height:100%;
    padding: 10px;
}

h3, h4, h5 {
    color: white;
}
.section-1 {
    /*border: 10px solid lightblue;*/
    height: 230px;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    color: rgb(134, 134, 134);
    /*flex-direction:column-reverse; */
}
.headline {
    width: 100%;
    display: flex;
    /* flex-direction: row; */
}    
p {
    margin-bottom: 5px;
}
.sub-headline {
    border: 1px solid white;
    width: 100%;
    height: 30px;
    background-color: rgb(134, 134, 134);
    margin-bottom: 10px;
}

.sub-headline-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-left: 10px;
}
#box-1 {
    width: 60%;
    height:125px;
    /* padding: 2%; */
    display: flex;
    flex-direction: wrap;
    gap: 20px;
    /* justify-content: center; */
}
#box-2 {
    width: 40%;
    height: 125px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#box-3 {
    width: 100vw;
    height: 100px;
}
ul {
    list-style-type: none;

}
.list-1 {
    font-weight: 600;
    text-align: right;
    color: white;
}
p {
    color: rgb(134, 134, 134);
}
.years {
    margin-left: auto;
    color: rgb(134, 134, 134);
}
.list-2 {
    color: rgb(134, 134, 134);
}
.section-2 {
    width:70%;
    padding: 2%;
}
.section-3 {
    width: 30%;
    padding: 2%;
}
.parent-section {
    display:flex;
    flex-direction: row;
    padding: 50;
}
.programming-skills {
    display:flex;
    flex-direction:column;
}
label {
    display: block;
}
#file2 {
    background: red;
}

.graphic-skills, li::marker {
    list-style-type: square;
    margin-left: 15px;
    color: red;
}

.label::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    color: blue;
    border-radius: 50%;
}

.name {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#name-box-1 {
    margin-left: 50px;
}